@use './variables';

body {
  display: flex;
  align-items: center;     
  justify-content: center; 
  background: variables.$bg-color-body;
  height: 100vh;
  margin: 0;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}